.table_lable{
	width: 100px;
	text-align: right; 
	font-weight: bold; 
	background: #f1f1f1"
}
.font_left{
	text-align: left;
}
.modal-body-ms{
	position: relative;
    padding: 15px;
    height: 500px;
}
.modal-body-check{
	position: relative;
    padding: 15px;
    height: 480px; overflow:scroll;
}
.time-horizontal {  
    list-style-type: none;  
    border-top: 1px solid #707070;  
    max-width: 1000px;  
    padding: 0px;  
    margin: 0px;  
} 
.time-horizontal li {  
    float: left;  
    position: relative;  
    text-align: center;  
    width: 20%;  
    padding-top: 10px;  
}  
   
.time-horizontal li b:before {  
    content: '';  
    position: absolute;  
    top: -7px;  
    left: 47%;  
    width: 12px;  
    height: 12px;  
    border: 2px solid #4c4c4c;  
    border-radius: 8px;  
    background: #4c4c4c;  
} 

.file-list .file[data-status=uploading] .file-status>.text, .uploader-files .file[data-status=uploading] .file-status>.text{
	display:none;
} 
.file-list .file-status>.text, .uploader-files .file-status>.text{
	display:inline;
}
.file-list, .uploader-files{
	min-height:36px;
	max-height:200px;
	overflow:auto;
} 
