/*
尺寸开始
*/
/*面包屑*/
h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 10px;
}
.modal-header h4{
	margin-top:-5px;
}
.uploader{
	margin-bottom:0px !important;
}
.breadcrumb{
    padding-top: 25px;
    padding-left: 7px;
	height: 20px;
	margin-bottom: -2px;
}
/*主界面*/
#maincontent {
    padding-left: 7px;
    padding-right: 7px;
}
/*工具栏*/
hr {
    margin-bottom: 15px;
}

.btn{
	font-size:14px;
}
/*table表头*/
.fixed-table-header {
    font-size: 14px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 1.42857143;
    vertical-align: middle;
}
/* 对话框 */
.modal-header {
    padding-left: 10px;
}
.modal-body {
    padding-left: 10px;
    padding-right: 10px;
}
/* .btn{
	border-radius: 3px;
} */
.need_material_table{
	margin-bottom:0px;
}

/* 表头 */
/* .table>thead>tr>th{
	font-size:14px;
	font-family:Microsoft YaHei;
} */
/*
尺寸结束
*/




/*颜色开始*/
/* .table>thead>tr>th{
	background-color:#afdbdd;
	color:#4f4f4f;
} */
/*颜色结束*/